#content-table.background-white.img-rounded
  -if developer_signed_in?
    %h1.orange Developers:
    -if current_developer.admin?
      %table.table.table-striped.table-developers
        -@developers.each do |developer|
          %tr{ :onclick => "document.location = '#{developer_path(developer)}';"}
            %td
              #{developer.name}
            %td 
              #{developer.admin? ? "Admin" : "Developer"}
    -else
