<link rel=stylesheet href="../../assets/stylesheets/screen.css.scss" type="text/scss">
<% if developer_signed_in? %>
  <%= link_to "Categories", categories_path(:show) %>
  <h1><%= @who %></h1>
  Signed in as <%= current_developer.name %>.
  <% if current_developer.admin? %>
  <ul>
    <% @developers.each do |developer| %>
      <li><%= link_to developer.name, developer_path(developer) %></li>
    <% end %>
  </ul>
  <% end %>  
  <% else %>
<% end %>

