<% if developer_signed_in? %>
  <h1><%= @who %></h1>
  Signed in as <%= developer.name %>.
  <br>
  Email : <%= developer.email %>.
  <br>
  Type : <%= developer.admin? ? "Admin" : "Developer" %>.
<% end %>

