%h1 Skills
- if skills.empty?
  %p No Skills found!
- else
  %table
    %tr
      %th Name
      - if current_developer.admin?
        %th Options
    - skills.each do |skill|
      %tr
        %td
          = skill.name
          - if current_developer.admin?
            %td
              = link_to 'Edit', edit_area_skill_path(skill.area, skill)
              = link_to 'Destroy', area_skill_path(skill.area, skill), method: :delete
%br
- if current_developer.admin?
  = link_to 'Add new skill', new_area_skill_path(area)
