#login li{
  float: left;
  margin-left: 10px;
  padding-left: 34px;
}

#login li:nth-child(1){
  background: asset-url('icons/frame_sticker.png', image) no-repeat 2px;
  background-size: 32%;
}

#login li:nth-child(2){
  background: asset-url('icons/check_sticker.png', image) no-repeat 2px;
  background-size: 32%;
}

#login ul.session li:nth-child(1){
  background: asset-url('icons/icon-develop.png', image) no-repeat 2px;
  background-size: 20%;
  padding-left: 25px;
}

#login ul.session li:nth-child(1) a{
  font-size: 16px;
  color: #B3A06A;
 }

 #login li a{
   color: #426580;
   font-size: 16px;
 }

#login li a:hover{color: #7E91A0;}

.form-sign-in, .form-sign-up, .form-forgot-password {
  width: 20%;
  margin: 0 auto 0;
  padding: 80px;
}

.background-white{
   background: #ffffff;
   box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
}

.form-sign-in h3, .form-sign-up h3, .form-forgot-password h3{
  color: #5592C1;
  text-align: center;
  margin-bottom: 50px;
}

.form-sign-in .control-group, .form-sign-up .control-group, .form-forgot-password .control-group {
  margin-bottom: 20px;
}

.form-sign-in .button, .form-sign-up .button, .form-forgot-password .button{text-align: center; margin-bottom: 40px;}

.form-sign-in .btn, .form-sign-up .btn, .form-forgot-password.btn{
  background: #E3AF2E;
  color: #fff;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 25px;
}

.checkbox{
  float: left;
}

.checkbox + label{padding-left: 20px;}

.orange{  
  font-size: 20px;
  color: #EC8F33;
  padding: 10px 0 0 30px;
}

#error_explanation{
  padding: 8px 4px;
  background: #fcf8e3;
  border-radius: 5px;
  margin-bottom: 20px;
}

#error_explanation h2{font-size: 14px; font-weight: lighter;}

#content-table{
  width: 80%;
  margin: 20px auto 0;
}

.table-striped tbody>tr:nth-child(odd)>td {
  background-color: #e3e3e3;
}

.table td{
  border: none;
}

td:nth-child(1){
  background: asset-url('icons/icon-develop.png', image) no-repeat 28px;
  background-size: 3%;
  padding: 18px 60px;
}

td:nth-child(2){
  text-align: right;
  padding: 18px 30px;
}

.span11{
  background: #ffffff;
  border-radius: 8px;
}

.span4{
  margin-left: 40px;
  padding: 20px;
  border: 3px solid #96B0C4;
}

.profile{
  background: #A1C4E1;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-left: 0;
  padding: 0;
  border: none;
}

.profile h4{
  text-align: center;
  border-bottom: 1px solid #C7E2F7;
  padding-bottom: 10px;
}

.profile-info{
  padding: 20px 20px 0;
}

.progress{
  margin-bottom: 0px;
}

  .level{
   color: #ffffff;
   text-align: center;
 }

  .level span{color: #202020;}
