%h1 Category index
- if @categories.empty?
  %p No Categories found!
- else
  %table
    - @categories.each do |category|
      %tr
        %td
          %strong Name:
        %td
          = link_to category.name, category_path(category.id)
        %td
          = link_to 'Edit', edit_category_path(category.id) 
%br
= link_to 'Add new category', new_category_path
